body {
  background-color: beige;
  width: 80%;
  margin: auto;
  height:100%;
  font-family:Lucida Console;
}

html{height:100%;}
header {  background-color: grey;
  height: 80px;
  line-height: 80px;
  padding-left: 50px;
}

.backsplash {
  background-color: khaki;
  margin:auto;
}

.backsplash h1 {
  margin: 0px 0px 20px 20px;
  padding-top: 20px;
  text-decoration: underline;
}

li {
  list-style: none;
  margin-bottom: 30px;
}
.book-items{
  width:90%;
  margin:auto;
}
.coverImg{
  position: relative;
  top:0px;
  margin:auto;
}

.book-overlay {margin:auto;
  background-color: grey;
  color: lightgray;
  position: relative;
  top:-38px;
  font-size:18px;
}

