#form-view{width:90%;
    margin:auto;
    height:90%;
    display:block;
}
#form-view input{width:95%;
    margin-bottom:10px;
    line-height: 200%;
    color:gray;
    border-radius: 4px;
}
#form-view #input-description{line-height:400%;
}
#form-view p{
    margin-bottom:5%;
}
#form-view h1{margin-bottom:5%;
    text-decoration:underline;
}
#form-view button{right:0px;
}
footer table{
    float:right;
    margin-top:5%;
}
.book-items{
    width:90%;
    margin:auto;
  }
  
  .coverImg{
    position: relative;
    top:0px;
    margin:auto;
  }
  
  .book-overlay {margin:auto;
    background-color: grey;
    color: lightgray;
    position: relative;
    top:-38px;
    font-size:18px;
  }
footer td{
    margin-left:10px
  }
  #about-us-contents{
    margin-top:15px;
}