#form-view{width:90%;
    margin:auto;
    height:90%;
    display:block;
}
#form-view input{width:95%;
    margin-bottom:10px;
    line-height: 200%;
    color:gray;
    border-radius: 4px;
}
#form-view #input-description{line-height:400%;
}
#form-view p{
    margin-bottom:5%;
}
#form-view h1{margin-bottom:5%;
    text-decoration:underline;
}
#form-view button{right:0px;
}
header link{display:block;
}
.icon-menu{float:right;
    font-size:48px;
    margin:auto;
}
footer table{
    float:right;
    margin-top:5%;
}
footer {
    background-color: grey;
    height: 80px;
    text-align: right;
    font-size:24px;
  }
footer td{
    margin-left:10px
  }